*{
    font-family: Arial, sans-serif;
}
nav{

    width: 100%;
    padding: 22px 31px;
    font-size: 24px;
    font-weight: 550;
    z-index: 10007890;
    top:0;
    left:0;
    transition: top 0.3s, background-color 0.3s, color 0.3s;
    position: fixed;
    color: white;
}

.navbar .middle{
    font-size: 44px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    height: 100%;
    width: 100%;
}

.heroSecCon{
    background-image: url(./assets//hero.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100%;
    width: 100%;
   z-index: 1000;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}
.heroSecCon::before{
  content: "";
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    background-color: black;
    opacity: .4;
    position: absolute;
    z-index: -100;
    overflow: hidden;
}

 button{
    color: white;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 11px 22px;
    background-color: #007bff;
    cursor: pointer;
}

 button:hover{
 opacity: .8;
}

.heroSec{  
    min-height: 100vh;
    padding: 50px;
    padding-right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 50px;
    
}

.heroSec h2{
    font-size: 38px;
    color: white;
    font-weight: 550;
    padding-top: 50px;
    line-height: 43px;
    word-spacing: 2px;
}

.heroSec p{
    font-size: 28px;
    line-height: 32px;
 
}

 a{
    text-decoration: none;
}

.works .subheading{
    display: none;
}

.works{
    padding: 30px 50px;
}

.works .bookImgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.submitBook{
    display: flex;
    justify-content: center;  
    padding-bottom: 50px;  
    cursor: pointer;
}

.works .bookImgs img{
    height: 100%;
    width: 100%;
}

.hidden-Img{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
   transform-origin: top;
    transform:translateY(25%);
 }
 
 .show-Img{
     opacity: 1;
     filter: blur(0);
     transform: translateY(0%);
     transform-origin: bottom;
 }
 
 
 
 @media (prefers-reduced-motion){
 .hidden-Img{
     transition: none;
 }
 }


@media (max-width:800px){
    nav{
        font-size: 15px;
        padding: 13px 16px;
    }

    .works .bookImgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .works .bookImgs img{
        height: 100%;
        width: 90%;
    }
    
    .works{
        padding: 20px;
    }
    .navbar .middle{
        font-size: 28px;
    }

    .heroSec{
        padding: 0px 20px 40px 20px;
    
    }

    .heroSecCon{
        padding-bottom: 50px;
    }
    

    .heroSec h2{
        font-size: 23px;
        line-height: 32px;
        padding-top: 50%;
    }

    .heroSec p{
        display: none;
    }

    .works .subheading{
        display: block;
        font-size: 17px;
        color: #034491;
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 25px;
    }

    .works .subheading a{
        text-decoration: none;
        color:#034491 ;
        cursor: pointer;
    }

    .works .bookImgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .works .bookImgs img{
        height: 100%;
        width: 95%;
    }

    .works{
        padding: 20px;
    }

}

@media(max-width:1100px){

  nav{
        font-size: 22px;
        padding: 15px 18px;
    }

     .navbar .middle{
        font-size: 33px;
    }

    
.heroSec p{
    display: none;
}

.heroSec{
    padding: 100px 50px 40px 20px;

}

  .works .subheading{
        display: block;
        font-size: 17px;
        color: #034491;
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 25px;

    }

.heroSec h2{
    font-size: 31px;
    font-weight: 500;
    word-spacing: 0px;
    line-height: 36px;
}
.works .bookImgs{
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media(max-width:500px){
    .heroSec h2{
        font-size: 24px;
        line-height: 28px;
    }

   .heroSec{
        padding-left: 10px;
        padding-right: 10px;
    }

   
}
